<!DOCTYPE html>
<html>
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>在线图片剪裁工具- {:C('site_name')}</title>
	<meta name="keywords" content="在线图片剪裁工具"/>
	<meta name="description" content="在线图片剪裁工具"/>
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__CSS__/zerogrid.css">
	<link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/responsive.css">
	<link rel="stylesheet" href="__CSS__/responsiveslides.css" />
	<link rel="stylesheet" href="__CSS__/newstyle.css">
	<link rel="stylesheet" href="__CSS__/jquery-linedtextarea.css">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/imgcrop/jquery-pack.js"></script>
    <script src="__JS__/imgcrop/jquery.imgareaselect.min.js"></script>
    <script src="__JS__/imgcrop.js"></script>
</head>
<body>
<!--------------Header--------------->

<include file="Public/header" />

<!--------------Content--------------->
<div class="new_content zerogrid">
	<div class="new_br"></div>
		<div class="new_menu">
			{$menu_html}
		</div>
	<div class="new_br"></div>
	<div class="new_line"></div>
	<div class="new_br"></div>
	<div class="new_tool imgcrop">
		<h1>{$menu_name}</h1>
		<div class="new_br"></div>
		<div class="new_tool_ imgcrop">
			<div class="upload">
				<form name="photo" enctype="multipart/form-data" action="{:U('/tools/imgcrop#img_left')}" method="post">
					<input type="file" name="image" size="30" class="button1"/> <input type="submit" name="upload" value="Upload" class="button1"/>
				</form>
			</div>
			<if condition="$filename neq ''">
				<div class="crop ">
				<h2>请拖动鼠标选择裁切区域：</h2>
					<div class="img_left" id="img_left">
						<img src="__PUBLIC__/files/images/{$filename}" alt="图片已过期" style="float: left;" id="thumbnail"  />
					</div>
					<div class="clearfix"></div>
					<div class="img_center">
						<form name="thumbnail" action="{:U('/tools/imgcrop#img_right')}" method="post">
							<b>x1:</b><input type="text" name="x1" value="" id="x1" class="input2" />
							<b>y1:</b><input type="text" name="y1" value="" id="y1" class="input2"  />
							<b>x2:</b><input type="text" name="x2" value="" id="x2" class="input2"  />
							<b>y2:</b><input type="text" name="y2" value="" id="y2" class="input2"  />
							<b>宽:</b><input type="text" name="w" value="" id="w" class="input2"  />
							<b>高:</b><input type="text" name="h" value="" id="h" class="input2"  />
							<input type="submit" name="upload_thumbnail" value="剪裁" id="save_thumb" class="button1"/>
						</form>
					</div>
					<div class="clearfix"></div>
					<if condition="$cropname neq ''">
						<div class="img_right" id="img_right">
							<a href="{:U('/do/download',array('t'=>'img','fn'=>$cropname))}"  alt="点击下载" title="点击下载"><img src="__PUBLIC__/files/images/{$cropname}" alt="图片已过期"></a>
						</div>
					</if>
				</div>
			</if>
			<div class="clearfix"></div>
			<div class="new_br"></div>
			<div class="new_br"></div>
		</div>
	</div>
</div>



<!--------------Footer--------------->

<include file="Public/footer" />
</body>
</html>