<!DOCTYPE html>
<html>
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>JS/HTML格式化- {:C('site_name')}</title>
	<meta name="keywords" content="js在线格式化,html在线格式化,js代码格式化"/>
	<meta name="description" content="可以对JS，HTML进行格式化排版，整齐的进行显示。"/>
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__CSS__/zerogrid.css">
	<link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/responsive.css">
	<link rel="stylesheet" href="__CSS__/responsiveslides.css" />
	<link rel="stylesheet" href="__CSS__/newstyle.css">
	<link rel="stylesheet" href="__CSS__/jquery-linedtextarea.css">
    <script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/jquery-linedtextarea.js"></script>
	<script src="__JS__/js_html/base.js"></script>
	<script src="__JS__/js_html/htmlformat.js"></script>
	<script src="__JS__/js_html/jsformat.js"></script>
	<script src="__JS__/js_html/jsformat2.js"></script>
	<script src="__JS__/jshtml.js"></script>
</head>
<body>
<!--------------Header--------------->

<include file="Public/header" />

<!--------------Content--------------->
<div class="new_content zerogrid">
	<div class="new_br"></div>
		<div class="new_menu">
			{$menu_html}
		</div>
	<div class="new_br"></div>
	<div class="new_line"></div>
	<div class="new_br"></div>
	<div class="new_tool">
		<h1>{$menu_name}</h1>
		<div class="new_br"></div>
		<div class="new_tool_ jshtml">
			<div class="jshtml_content">
                    <div>
                        <textarea id="content" name="content" placeholder="请输入需要处理的javascript/HTML" style=""></textarea>
                    </div>
                    <div class="new_br"></div>
                    <div>
                        <select id="tabsize" class="select1">
                            <option value="1">制表符缩进</option>
                            <option value="2">2个空格缩进</option>
                            <option value="4" selected="selected">4个空格缩进</option>
                            <option value="8">8个空格缩进</option>
                        </select>
                        <input class="button1" value="格式化" onclick="return do_js_beautify()" id="beautify" type="button">
                        <!--<br>-->
                        <input class="button1" value="普通压缩" onclick="pack_js(0)" type="button">
                        <input class="button1" value="* 加密压缩 *" onclick="pack_js(1)" type="button">
                        <input class="button1 hide"value="复制" onclick="copy();" type="button">
                        <input class="button1" value="清空结果" onclick="Empty();" type="button">
                    </div>
			</div>
		</div>
	</div>
</div>



<!--------------Footer--------------->

<include file="Public/footer" />
</body>
</html>