<!DOCTYPE html>
<html>
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>在线正则- {:C('site_name')}</title>
	<meta name="keywords" content="在线正则"/>
	<meta name="description" content="在线正则"/>
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__CSS__/zerogrid.css">
	<link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/responsive.css">
	<link rel="stylesheet" href="__CSS__/responsiveslides.css" />
	<link rel="stylesheet" href="__CSS__/newstyle.css">
	<link rel="stylesheet" href="__CSS__/jquery-linedtextarea.css">
    <script src="__JS__/jquery.min.js"></script>
    <script src="__JS__/regex.js"></script>
</head>
<body>
<!--------------Header--------------->

<include file="Public/header" />

<!--------------Content--------------->
<div class="new_content zerogrid">
	<div class="new_br"></div>
		<div class="new_menu">
			{$menu_html}
		</div>
	<div class="new_br"></div>
	<div class="new_line"></div>
	<div class="new_br"></div>
	<div class="new_tool">
		<h1>{$menu_name}</h1>
		<div class="new_br"></div>
		<div class="new_tool_ regex">
			<div class="regex_common">
				<a href="javascript:;" t="zh">中文字符</a>
				<a href="javascript:;" t="szj">双字节符</a>
				<a href="javascript:;" t="kbh">空白行</a>
				<a href="javascript:;" t="email">Email地址</a>
				<a href="javascript:;" t="url">网址URL</a>
				<a href="javascript:;" t="mobile">手机(国内)</a>
				<a href="javascript:;" t="tel">电话号码(国内)</a>
				<a href="javascript:;" t="qq">腾讯QQ</a>
				<a href="javascript:;" t="zip">邮政编码</a>
				<a href="javascript:;" t="ip">IP</a>
				<a href="javascript:;" t="card">身份证号码</a>
				<a href="javascript:;" t="date">格式日期</a>
				<a href="javascript:;" t="zs">整数</a>
				<a href="javascript:;" t="zzs">正整数</a>
				<a href="javascript:;" t="fzs">负整数</a>
				<a href="javascript:;" t="zfds">正浮点数</a>
				<a href="javascript:;" t="ffds">负浮点数</a>
				<a href="javascript:;" t="user">用户名</a>
			</div>
			<p class="input_text">
				<textarea name="input_text" id="input_text" placeholder="输入待匹配文本"></textarea>
			</p>
			<p class="regex_regex">
				<textarea name="regex" id="regex" placeholder="输入正则"></textarea>
				<button class="button2" id="match">匹配</button>
			</p>
			<p class="match_text">
				<span>匹配结果</span>
				<textarea name="match_text" id="match_text"></textarea>
			</p>
			<p class="regex_replace">
				<textarea name="replace_text" id="replace_text" placeholder="输入替换文本"></textarea> 
				<button class="button2" id="replace">替换</button>
			</p>
			<p class="replace_text">
				<span>替换结果</span>
				<textarea name="replace_result" id="replace_result"></textarea>
			</p>
		</div>
	</div>
</div>



<!--------------Footer--------------->

<include file="Public/footer" />
</body>
</html>