    <div class="sidebar-nav">
        <a href="#dashboard-menu" class="nav-header" data-toggle="collapse"><i class="icon-dashboard"></i>Dashboard</a>
        <ul id="dashboard-menu" class="nav nav-list collapse in">
            <li><a href="{:U('/admin/index')}">首页</a></li>
            <li ><a href="{:U('/admin/index/lists')}">文章列表</a></li>
            <li ><a href="{:U('/admin/index/article')}">新增文章</a></li>
            <li ><a href="{:U('/admin/index/typemanager')}">分类管理</a></li>
            <li ><a href="{:U('/admin/index/keywordlists')}">文章标签</a></li>
             <li ><a href="{:U('/admin/index/clearCache')}">清空缓存</a></li>
             <li ><a href="{:U('/admin/index/synchroData')}">同步数据</a></li>
        </ul>
    </div>