<!DOCTYPE html>
<html lang="en"> 
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>列表- {:C('site_name')}</title>
	<meta name="keywords" content=""/>
	<meta name="description" content=""/>
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__CSS__/zerogrid.css">
	<link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/responsive.css">
	<link rel="stylesheet" href="__CSS__/responsiveslides.css" />
	<link rel="stylesheet" href="__CSS__/newstyle.css">
    <script src="__JS__/jquery.min.js"></script>
    
	
</head>
<body>
<!--------------Header--------------->

<include file="Public/header" />

<!--------------Content--------------->
<div class="c_basic zerogrid">
	<div class="c_left list_art">
		<ul>
		<if condition="$lists eq null">
			<li>
				<div class="l_a_div">
					<p class="l_a_title">
						暂无记录！！！
					</p>
				</div>
			</li>
		</if>
		
		<foreach name="lists" item="val">
			<li>
				<div class="l_a_div">
					<p class="l_a_title">{$val.title|msubstr=0,40}</p>
					<p class="l_a_time">{$val.createtime|date='Y-m-d',###}</p>
					<p class="l_a_content">
						{$val.content|strip_html_tags}
					</p>
					<p class="l_a_read"><a href="{:U('/art/article',array('id'=>$val['id']))}">阅读全文</a></p>
				</div>
			</li>
		</foreach>
		</ul>
		<div class="page_2 loading hide">
			<img src="__IMAGES__/loading.gif" title="正在加载..."/>
		</div>
		
		<div class="page_2 hide">
			<input type="hidden" name="p" id="p" value="1" title="当前页数" />
			<input type="hidden" name="loadurl" id="loadurl" value="{:U('/art/async_lists')}" title="加载链接" />
			{$page}
		</div>
	</div>
	<div class="c_right">
		<div class="c_r_tags">
			<div class="c_r_tags_1">
				<p><span>标签</span></p>
				<div class="c_r_tags_2">
					<foreach name="keyword" item="val">
					<a href="{:U('/art/lists',array('t'=>$val['name']))}" class="button- button--wayra">{$val.name}</a>
					</foreach>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</div>



<!--------------Footer--------------->
<script src="__JS__/async_lists.js"></script>
<include file="Public/footer" />
</body>
</html>