<!DOCTYPE html>
<html lang="en"> 
<head>

    <!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>联系我- {:C('site_name')}</title>
	<meta name="keywords" content="{$art.keyword}"/>
	<meta name="description" content="{$art.keyword}"/>
	
    <!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="__CSS__/zerogrid.css">
	<link rel="stylesheet" href="__CSS__/style.css">
    <link rel="stylesheet" href="__CSS__/responsive.css">
	<link rel="stylesheet" href="__CSS__/responsiveslides.css" />
	<link rel="stylesheet" href="__CSS__/newstyle.css">

    <script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/unixtime.js"></script>
	
</head>
<body>
<!--------------Header--------------->

<include file="Public/header" />

<!--------------Content--------------->
<div class="new_content zerogrid">
	<div class="new_br"></div>
	<div class="new_title">
		<h1>联系方式</h1>
	</div>
	<div class="new_br"></div>
	<div class="new_line"></div>
	<div class="new_br"></div>
	<div class="new_br"></div>
	<div class="new_br"></div>
	<div class="new_br"></div>
	<div class="contact">
		<p>QQ：1138675081</p>
		<p>email：mytuers@163.com</p>
	</div>
	<div class="new_br"></div>
	<div class="new_br"></div>
	
	<div class="clearfix"></div>
	<div class="new_br"></div>
</div>

<!--------------Footer--------------->

<include file="Public/footer" />
</body>
</html>